---
title: STACK 2020
layout: layout-page-sidenav
description: >
  STACK is GovTech’s flagship conference and the largest government-led developers
  event in Singapore that connects government, industry and the tech community.
---

<h2>Stack 2020</h2>
<p>
  Thank you for joining us at STACK 2020. Missed any sessions? You can watch the video replays below
</p>

<div class="row is-multiline">
  {% comment %}
  {% assign videos = site.data.stack2020-videos | where: "type", "Keynote" %}
  {% endcomment %}
  {% for video in site.data.stack2020-videos %}
  {% assign video_url = "https://www.youtube.com/watch?v=" | append: video.id %}
  {% assign video_title = video.title %}
  {% assign video_speaker = video.speaker %}
  {% assign video_image = "https://img.youtube.com/vi/$video_id/hqdefault.jpg" | replace: "$video_id", video.id %}
  <div class="col is-6 is-flex">
    <div class="sgds-card">
      <div class="sgds-card-content">
        <h4>
          <a href="{{ video_url }}">
            {{ video_title }}
          </a>
        </h4>
        <div class="sgds-card-image">
          <figure class="sgds-image">
            <a href="{{ video_url }}">
              <img
                alt="stack 2020 video thumbnail"
                src="{{ video_image }}"
              />
            </a>
          </figure>
        </div>
        <p>
          <strong>Speakers</strong> <br>
          {{ video_speaker }}
        </p>
      </div>
      <div class="sgds-card-footer">
        <a
          href="{{ video_url }}"
          class="sgds-card-footer-item"
        >
          Watch video
        </a>
        {% comment %} Replace the additional link when ready {% endcomment %}
        {% if video.additionalLink != nil %}
          <a
            href="{{ video_url }}"
            class="sgds-card-footer-item"
          >
          View Slides
          </a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>